{% extends 'houduan_layout.html' %}
{% block content %}
    <div class="container clearfix">
        <div class="main-wrap">

            <div class="crumb-wrap">
                <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">资源共享</a><span class="crumb-step">&gt;</span><span>编辑在线资源</span></div>
            </div>
            <div class="result-wrap">
                <div class="result-content">
                    <form method="post" id="myform" name="myform" enctype="multipart/form-data">
                        <table class="insert-tab" width="100%">
                            <tbody>
                            {% for obj in data %}
                                <tr>
                                    <th><i class="require-red">*</i>前端展示标题：</th>
                                    <td>
                                        <input class="common-text required" name="zhanshi_title" size="50" value={{ obj.zhanshi_title }} type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>资源路径：</th>
                                    <td>
                                        <input class="common-text required" name="resource_url" size="80" value={{ obj.resource_url }} type="text">
                                    </td>

                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                        <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
