{% extends 'houduan_layout.html' %}
{% block content %}
    <div class="container clearfix">
        <div class="main-wrap">

            <div class="crumb-wrap">
                <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">师资力量</a><span class="crumb-step">&gt;</span><span>添加教师</span></div>
            </div>
            <div class="result-wrap">
                <div class="result-content">
                    <form method="post" id="myform" name="myform" enctype="multipart/form-data">
                        <table class="insert-tab" width="100%">
                            <tbody>
                                <tr>
                                    <th width="120"><i class="require-red">*</i>状态：</th>
                                    <td>
                                        <select name="state">
                                            <option value="">请选择在职状态</option>
                                            <option id = 'option' value="在职">在职</option>
                                            <option id = 'option' value="兼职">兼职</option>
                                            <option id = 'option' value="离任">离任</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>教师名：</th>
                                    <td><input class="common-text" name="teacher" size="50" value="" type="text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>职位、职称等：</th>
                                    <td><input class="common-text" name="position_title" size="50" value="" type="text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>教师ID：</th>
                                    <td><input class="common-text" name="teacher_ID" size="50" value="" type="text"></td>
                                </tr>

                                <tr>
                                    <th><i class="require-red">*</i>前端标题：</th>
                                    <td>
                                        <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>缩略图(格式限制：175*180)：</th>
                                    <td><input name="photo" type="file"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>介绍内容：</th>
                                    <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="18"></textarea></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                        <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                    </td>
                                </tr>
                            </tbody></table>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
