{% extends 'houduan_layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <input type="button" value="添加专业书籍" onclick="window.open('/insert_academic_books/')"  class="btn btn-success" >
        </div>

        <!-- 订单列表 -->
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                专业书籍列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                        <tr>
                            <th>书籍名称</th>
                            <th>作者</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in queryset %}
                            <tr uid="专业成果列表">
                                <th>{{ obj.wenzhang_title }}</th>
                                <td>{{ obj.author }}</td>
                                <td>{{ obj.time }}</td>
                                <td>
                                    <input uid="{{ obj.id }}" onclick="window.open('/edit_academic_books/?uid={{ obj.id }}')" class="btn btn-primary btn3 mr10" value="编辑" type="submit">
                                    <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="删除">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

        <!-- 分页列表 -->
        <ul class="pagination">
            {{ page_string }}
        </ul>


    </div>

{% block js %}

    <script type="text/javascript">
        var DELETE_ID;
        var EDIT_ID;

        $(function () {
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
        })

        function bindBtnDeleteEvent() {
            $(".btn-delete").click(function () {
                // alert("点击了删除");
                // 显示删除对话框
                $("#deleteModal").modal('show');

                // 获取当前行的ID并赋值给全部变量。
                DELETE_ID = $(this).attr("uid");
            });
        }

        function bindBtnConfirmDeleteEvent() {
            $("#btnConfirmDelete").click(function () {
                $.ajax({
                    url: "/order/delete_academic_books/",  //    => /order/delete/?uid=123
                    type: "GET",
                    data: {
                        uid: DELETE_ID
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            // 隐藏删除框
                            // $("#deleteModal").modal('hide');
                            // 在页面上将当前一行数据删除（js）
                            // $("tr[uid='" + DELETE_ID + "']").remove();
                            // 要删除的ID制空
                            // DELETE_ID = 0;
                            // 简单的思路：
                            location.reload();
                        } else {
                            // 删除失败
                            alert(res.error);
                        }
                    }
                })
            });
        }
    </script>
{% endblock %}
{% endblock %}



