{% extends 'qianduan_layout.html' %}
{% block content %}
    {% load static %}
    <!--content-->
		<div class="i_content">
			<div class="adr_wrap">
				<div class="adr">
					<span class="adr_link"><a href="/homepage/">首 页</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;科研学子&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;日常活动</span>
				</div>
			</div>
			<div class="c_area">
				<div class="left_list">
					<div class="nav_title">科研学子</div>
					<div class="sidemenu">
						<ul>
                            <li><a href="qianduan_students.html">优秀学子</a></li>
							<li>
								<h3><em></em>学习成果</h3>
								<ul>
									<li class="on"><a href="qianduan_zhuanye_achievements.html">专业学习</a></li>
									<li><a href="other_study.html">其他成果</a></li>
								</ul>
							</li>
							<li class="on"><a href="qianduan_daily_activities.html">日常活动</a></li>
						</ul>
					</div>
					<div class="contact">
						<a href="/contact/"><img src="{% static 'images/tel.jpg' %}" /></a>
					</div>
				</div>
				<div class="right_content">
                    {% for obj in queryset %}
					<div class="con_title">日常活动</div>
                        <form class="wenzhang_form">
                            <div class="r_title">{{ obj.wenzhang_title }}</div>
                            <p>{{ obj.activity_content|safe }}</p>
                        </form>
                    {% endfor %}
				</div>
				<div class="clear"></div>
			</div>
		</div>
{% endblock %}