{% extends 'qianduan_layout.html' %}
{% block content %}
    {% load static %}
    <!--content-->
		<div class="i_content">
			<div class="adr_wrap">
				<div class="adr">
					<span class="adr_link"><a href="/homepage/">首 页</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;师资与科研&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;科研成果</span>
				</div>
			</div>
			<div class="c_area">
				<div class="left_list">
					<div class="nav_title">师资与科研</div>
					<div class="sidemenu">
						<ul>
							<li><a href="/teacher/">师资力量</a></li>
							<li class="on"><a href="/technology/">科研成果</a></li>
						</ul>
					</div>
					<div class="contact">
						<a href="/contact/"><img src="{% static 'images/tel.jpg' %}" /></a>
					</div>
				</div>
				<div class="right_content">
                    {% for obj in queryset %}
					<div class="con_title">科研成果</div>
					<div class="con_box">
                        <form>
                            <p>{{ obj.technology_content|safe }}</p>
                        </form>
					</div>
                    {% endfor %}
				</div>
				<div class="clear"></div>
			</div>
		</div>
{% endblock %}


