{% extends 'qianduan_layout.html' %}
{% block content %}
    {% load static %}
    <!--content-->
		<div class="i_content">
			<div class="adr_wrap">
				<div class="adr">
					<span class="adr_link"><a href="qianduan_homepage.html">首 页</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;联系我们</span>
				</div>
			</div>
			<div class="c_area">
				<div class="left_list">
					<div class="nav_title">智能优化与信息处理实验室</div>
					<div class="sidemenu">
						<ul>
							<li class="on"><a href="qianduan_contact.html">联系我们</a></li>
						</ul>
					</div>
					<div class="contact">
						<a href="qianduan_contact.html"><img src="{% static 'images/tel.jpg' %}" /></a>
					</div>
				</div>
				<div class="right_content">
					<div class="con_title">联系我们</div>
					<div class="con_box">
						<p>学院办公室：0596-2591443</p>
						<p>学院教务科：0596-2591443</p>
						<p>学 院 团 委：0596-2528517</p>
						<p>院长办公室：0596-2583931</p>
						<p>党委书记办：0596-2527835</p>
						<p>书记信箱：yhh6500@mnnu.edu.cn</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
{% endblock %}

